.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.deck
{
	width:80%;
	margin: 20px auto;
	background: rgb(0 126 255 / 30%);
	/* border:solid 10px black; */
	padding: 10px;
	/* border-radius:10px; */
	text-align: center;
	color:white;
}

.card
{
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 3px;
}

.btn
{
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display:inline-block;
}

.card .value{
	font-size:15pt;
	font-family: sans-serif;
}

.card .suit.flipped
{
	background-image: url('/card.png');
	height: 100px;
	width: 90px;
}

.card .suit.unflipped {
  background-image: url('/card_uflipped.png');
  height: 100px;
	width: 90px;
}

.card .diamonds.flipped
{
	background-position-y: 100px;
}

.card .hearts.flipped
{
	background-position-x: 90px;
}

.card .clubs.flipped
{
	background-position-x:90px;
	background-position-y:100px;
}
                